.features{
  margin-top: 40px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  background: url("../images/bg-features.jpg") no-repeat;
  background-size: cover;

  @include font(16px, $dark-grey, 400, false);
  &__header{
    display: block;
    padding-bottom: 25px;
    width: 80%;

    @include font(24px, $dark-grey, 700, false);
  }
}

.features-list{
  display: flex;
  padding-left: 0;
  list-style: none;

  flex-wrap: wrap;
  &__item{
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px;
    min-height: 100px;
    width: 50%;
  }
  &__icon{
    position: absolute;
    bottom: 20px;
    left: 0;
    max-width: 50px;
  }
}